.sortable-container {
  position: relative; }
  .sortable-container .sortable {
    position: relative;
    padding: 0;
    margin: 0;
    list-style: none; }
  .sortable-container .sortable-item {
    position: relative; }
  .sortable-container .sortable-item__handle {
    margin-right: 10px;
    display: inline-block;
    cursor: move; }

/*# sourceMappingURL=yii.sortable.css.map */
